:root {
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-answer-correct: #2b774b;
    --text-answer-incorrect: #b43636;
    --bg-body: #fffcd4;
    --bg-timer: #243761;
    --bg-clear-button: #ca3f3f;
    --bg-hover-clear-button: #c42929;
    --bg-timer-toggler-button: #2d8fbd;
    --bg-hover-timer-toggler-button: #207da8;
    --transition-short: all 0.3s ease;
}

body, html, p {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    background-color: var(--bg-body);
}

main {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
}

main h1 {
    text-align: center;
}

.timer-container {
    background-color: var(--bg-timer);
    margin-bottom: 70px;
    font-size: 60px;
    flex-flow: column;
    padding: 30px 0;
    letter-spacing: 1px;
}

.timer {
    width: fit-content;
    margin: 0 auto;
    color: var(--text-light);
    border-radius: 10px;
}

#millisecs {
    justify-self: flex-end;
    font-size: 25px;
    text-align: right;
}

.quiz-score {
    width: 100px;
    margin: 0 auto;

}

#quiz-score__score {
    padding: 10px;
    text-align: center;
    background: var(--text-answer-correct);
    color: var(--text-light);
    font-size: 30px;
    font-weight: bold;
    border-radius: 3px;
}

#quiz__container>div {
    margin-bottom: 50px;
}

#quiz__container {
    display: block;
    height: 0;
    margin: 20px 0;
    transition: var(--transition-short);
    overflow: hidden;
}

#quiz__container.show {
    height: 180px;
}

#quiz__container>* {
    margin: 20px 0;
}

#quiz__question {
    font-size: 1.2rem;
}

#quiz__answer textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

#quiz__answer .choice-radio-group {
    margin: 5px 0;
}

.choice-radio-group input {
    margin: 5px;
    vertical-align: middle;
}

.choice-radio-group label {
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: lighter;
    color: var(--text-dark);
}

.choice-radio-group label.incorrect {
    font-weight: bold;
    color: var(--text-answer-incorrect);
}

.choice-radio-group label.incorrect::after {
    content: " \2718";
}

.choice-radio-group label.correct {
    font-weight: bold;
    color: var(--text-answer-correct);
}

.choice-radio-group label.correct::after {
    content: " \2713";
}

.buttons {
    margin: 40px auto;
    width: fit-content;
    text-align: center;
}

.buttons button {
    border: none;
    padding: 8px 20px;
    margin: 5px;
    display: inline-block;
    color: var(--text-light);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    cursor: pointer;
    transition: var(--transition-short);
}

button#timer-toggler {
    background-color: var(--bg-timer-toggler-button);
}

button#timer-toggler::after {
    content: " Quiz";
}

button#timer-toggler:hover {
    background-color: var(--bg-hover-timer-toggler-button);
}

button#timer-clear {
    background-color: var(--bg-clear-button);
}

button#timer-clear:hover {
    background-color: var(--bg-hover-clear-button);
}

#quiz-record {
    display: none;
}

#quiz-record-list {
    padding: 0;
}

.quiz-pair {
    margin: 15px 0;
}

.quiz-pair>* {
    margin: 8px 0;
}

@media screen and (min-width: 481px) {
    .buttons button {
        margin: 0 10px;
    }
    #quiz__container.show {
        height: 180px;
    }
}